body {
    font-family: 'Lato', sans-serif;
    color: #747704;
    font-weight: 300;
}


.text-muted {
    color: #BCBBBB;
    padding-left: 15px;
}

.text-thin {
    font-weight: 100;
}

.title-logo {
    margin-top: 20px;
    border-radius: 50%;
}

.title-super {
    font-size: 60px;
}


hr {
    /*margin: 20px 0px;*/
    height: 4px;
    background-color: #BCBBBB;
}
